[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
python-for-android = {ref = "3.11.6", git = "git+https://github.com/flet-dev/python-for-android.git"}
cython = "*"

[dev-packages]

[requires]
python_version = "3.12"
